/* @import url('https://fonts.googleapis.com/css?family=libre+baskerville&display=swap'); */

/* comments */
body{
	color: #383838;
	background-color: rgb(238,238,238);
	font-family: "Libre Baskerville",serif;
	line-height: 1.75;
}
h1{
	color: #525E6A;
}
#disclaimer-section{
	margin: auto;
	width: 50%;
	border: 3px solid #525E6A;
	padding: 10px;
}

/*media queries*/
@media screen and (max-width:299px){}
@media screen and (min-width:300px) and (max-width:324px){}
@media screen and (min-width:325px) and (max-width:450px){}
@media screen and (min-width:451px) and (max-width:650px){}
@media screen and (min-width:651px) and (max-width:1100px){}
@media screen and (min-width: 1101px){}

/*dark mode - if browser is set to dark mode*/
@media (prefers-color-scheme: dark) {
	section{
    	background-color: #222;
		color: #ddd;
		word-spacing: .1em;
    }
}
