/* @import url('https://fonts.googleapis.com/css?family=libre+baskerville&display=swap'); */

/* comments */
body{
	color: #383838;
	background-color: rgb(238,238,238);
	font-family: "Libre Baskerville",serif;
	line-height: 1.75;
}
h1{
	color: #525E6A;
}
h1 a{
	color: inherit;
}
h1 a:hover, h1 a:visited, h1 a:link, h1 a:active{
	text-decoration: none;
}
.ad-container{
	margin: auto;
	/*width: 50%;*/
	border: 3px solid #525E6A;
	padding: 10px;
}
#disclaimer-section{
	margin: auto;
	width: 75%;
	padding: 10px;
}

/*media queries*/
@media screen and (max-width:299px){
	a.ad-anchor{
		width: 100px;
	}
	a.ad-anchor img{
		max-width:100%;
	}
}
@media screen and (min-width:300px) and (max-width:324px){
	a.ad-anchor{
		width: 250px;
	}
	a.ad-anchor img{
		max-width:100%;
	}
}
@media screen and (min-width:325px) and (max-width:450px){
	a.ad-anchor{
		width: 250px;
	}
	a.ad-anchor img{
		max-width:100%;
	}
}
@media screen and (min-width:451px) and (max-width:650px){
	a.ad-anchor{
		width: 250px;
	}
	a.ad-anchor img{
		max-width:100%;
	}
}
@media screen and (min-width:651px) and (max-width:1100px){
	a.ad-anchor{
		width: 250px;
	}
	a.ad-anchor img{
		max-width:100%;
	}
}
@media screen and (min-width: 1101px){
	a.ad-anchor{
		width: 250px;
	}
	a.ad-anchor img{
		max-width:100%;
	}
}

/*dark mode - if browser is set to dark mode*/
/*
@media (prefers-color-scheme: dark) {
	section{
    	background-color: #222;
		color: #ddd;
		word-spacing: .1em;
    }
}
*/
